<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Affirmalytics™
    </title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Affirmalytics: Don't Worry, Your Site is Doing Great">
    <meta name="og:title" content="Affirmalytics: Don't Worry, Your Site is Doing Great">
    <meta name="twitter:description" content="Low traffic? High bounce rate? Aw sweetie no don't worry you're doing great, for real, I must have read your stats wrong actually you have tons of happy users">
    <meta name="og:description" content="Low traffic? High bounce rate? Aw sweetie no don't worry you're doing great, for real, I must have read your stats wrong actually you have tons of happy users">
    <meta name="twitter:creator" content="@tripofmice">
    <!--<meta name="twitter:image" content="">
    <meta name="og:image" content="">
    <meta name="twitter:image:alt" content="">-->

    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/static/fonts/stylesheet.css">
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="/static/styles/app.css">
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu">
                <li class="menu-text">Affirmalytics</li>
                <li><a href="/">Home</a></li>
                <li><a href="/reports">Reports</a></li>
            </ul>
        </div>
    </div>

    <div>
        you're doing fine
    </div>
</body>
</html>
